.nav-bar {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    box-shadow: 0px 3px 6px 0px rgba(177, 177, 177, 0.75)
}

.nav-bar li {
    display: inline-block;
    float: left;
}

.nav-bar li a {
    display: block;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;

    width: 100px;
    height: 50px;
    line-height: 50px;
}