.nav-bar-item {
    transition: all 100ms ease-out;
}

.nav-bar-item:hover {
    box-shadow: inset 0 -3px 0 #09BCFF;
}

.nav-bar-item a {
    color: #717171;
    transition: all 50ms ease-out;
}

.nav-bar-item a:hover {
    color: #09BCFF;
}

.active-item {
    box-shadow: inset 0 -3px 0 #09BCFF;
}